---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Sheep in Wolf's.com">
  <h1>Shopping Guides for the Warmest Winter Clothes</h1>
  <p>"It's not cold, people are underdressed". Said Nordic</p>
</Layout>
